@import url(https://fonts.google.com/specimen/Roboto);

body{
  background-color: #f1f1f1;
  color: #0f141e;
  
  font-size: 17px;
  font-weight: normal;
  font-family: 'roboto', 'sans-serif';
  
}
.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform:none;*/
    letter-spacing: 0.7px;
    word-spacing: 1px;

}
.avatar {
    border-radius: 44px;
    box-shadow: 4px 4px 14px rgba(214, 11, 11, 0);

}
.contact {
    max-width:100%;
    margin: 2px;
    padding: 15px 40px;
    border: 10px solid rgb(222, 182, 245);
    border-style: dotted;

}
